.language-change{
    display:flex;
    gap:10px;
    margin:10px;
    align-items:center;
    cursor:pointer;
  }
  
  html[lang='ja'] *:is([lang]):not([lang='ja']),
  html[lang='en'] *:is([lang]):not([lang='en']){
    display:none!important;
  }